:root {
  --happy: rgba(250, 255, 0, 1);
  --scared: rgba(129, 236, 44, 1);
  --grey-15: rgba(38, 38, 38, 1);
  --grey-20: rgba(51, 51, 51, 1);
  --grey-40: rgba(101, 101, 103, 1);
  --grey-10: rgba(26, 26, 26, 1);
}
