* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.product__subcontainer {
  display: flex;
  align-items: flex-start;
  gap: 3.125rem;
  flex-direction: row;
}

.main__title {
  color: #0f1035;
  font-weight: 700;
}

.product__item {
  display: flex;
  align-items: flex-start;
  gap: 3.125rem;
  align-self: stretch;
  position: relative;
}

.product__item__container {
  display: flex;
  height: 32rem;
  padding: 3.125rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.125rem;
  flex: 1 0 0;
  border-radius: 0.75rem;
  border: 2px solid var(--Grey-15, #262626);
  background: rgba(54, 84, 134, 1);
  box-shadow: 6px 6px 0px 2px #1e1e1e;
}

.product__item__container__shape {
  width: 7.8125rem;
  height: 19rem;
  position: absolute;
  right: 8rem;
  border-radius: 0rem 0rem 0.75rem 0.75rem;
  border: 2px solid var(--Grey-15, #262626);
  background: #0f1035;
  z-index: 0;
}

.product__item__image {
  height: 14rem;
  flex-shrink: 0;
  align-self: stretch;
  border-radius: 0.75rem;
  border: 2px solid var(--Grey-15, #262626);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  z-index: 1;
}

.product__item__title {
  color: #fff;
  text-align: center;
  font-family: Raleway;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 130%;
}

.product__item__description {
  color: #fff;
  text-align: center;
  font-family: Outfit;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
}
